.view-filters {
  width: 100%;
}

.crowdriff-media-library-filters {
  padding: 15px;
}

.crowdriff-media-library-filters .form-submit {
  float: right;
}

.crowdriff-media-library-filters .form-item {
  margin: 0.50em 0;
}

.crowdriff-media-library-filters .form--even {
  justify-content: space-evenly;
}

.media-library-item__attributes {
  width: 100%;
}

.media-library-item__name {
  text-align: center;
}
